---
import { Picture } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import LinkButton from "../components/LinkButton.astro";

import heroImage from "../assets/cc-logo.png";
import headerBackground from "../assets/header-bg.png";

const pageTitle = "Links";

const links = [
  {
    title: "Latest Video: Coding a Virtual Pet with OctoStudio",
    url: "https://youtu.be/xFgwxr4HP6A?si=PUVgd3j1OsgHofJx",
    icon: "play",
  },
  {
    title: "Fix the Space Ship - A STEM Engagement Escape Room",
    url: "https://github.com/brggs/Fix-The-SpaceShip-Escape-Room",
    icon: "rocket",
  },
  {
    title: "How to: Build your own escape room puzzle with the micro:bit",
    url: "https://curiouscoders.substack.com/p/build-your-own-escape-room-puzzle",
    icon: "microchip",
  },
  {
    title: "Subscribe to our newsletter",
    url: "https://curiouscoders.substack.com/",
    icon: "newspaper",
  },
  {
    title: "Get in touch",
    url: "mailto:hello@curiouscoders.co.uk",
    icon: "envelope",
  },
];

const socialLinks = [
  {
    url: "https://www.instagram.com/mrabriggs/",
    icon: "fab fa-instagram",
  },
  {
    url: "https://www.linkedin.com/in/brggs/",
    icon: "fab fa-linkedin",
  },
  {
    url: "https://bsky.app/profile/andy.curiouscoders.co.uk",
    icon: "fab fa-bluesky",
  },
  {
    url: "https://github.com/brggs",
    icon: "fab fa-github",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <section
    class="mt-[-90px] pt-20 h-200 bg-gray-600 bg-blend-overlay"
    style={`background-image: url(${headerBackground.src})`}
  >
    <Container>
      <div class="px-8 pb-6 flex flex-col items-center text-center">
        <Picture
          class="w-36 rounded-full"
          src={heroImage}
          formats={["avif", "webp"]}
          alt="The Curious Coders Logo, white text on a pink background."
        />
      </div>
      <div class="flex justify-center space-x-4">
        {
          socialLinks.map((link) => (
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-slate-50 hover:text-slate-200 transition-colors duration-300 text-2xl sm:text-3xl md:text-4xl hover:animate-wiggle"
            >
              <i class={`${link.icon} font-bold`} />
            </a>
          ))
        }
      </div>
      <div class="px-8 pb-2 flex flex-col items-center text-center">
        <div class="space-y-4 mt-6">
          {
            links.map((link) => (
              <LinkButton title={link.title} url={link.url} icon={link.icon} />
            ))
          }
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>
